.callout {
  --callout-color: var(--secondary);
  --callout-background: var(--secondary-container);
  --callout-border: 1px solid var(--secondary);
  --callout-radius: 0.4rem;
  --callout-padding: 0.8rem;
  border-left: var(--callout-border);
  border-radius: var(--callout-radius);
  background: var(--callout-background);
  color: var(--callout-color);
  box-shadow: rgba(0, 0, 0, 0.357) 1.8px 1.8px 3.6px 0px;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.callout-content {
  padding: 0 var(--callout-padding);
}

.callout-content *:first-child {
  margin-top: 0.5rem;
}

.callout-content *:last-child {
  margin-bottom: 0.5rem;
}

.callout-indicator {
  display: flex;
  align-items: center;
  padding: 0 var(--callout-padding);
}

.callout-hint {
  color: var(--callout-color);
}

.callout-title {
  margin-left: 0.3em;
  font-size: 1em;
  font-weight: bold;
}

.callout-note {
  --callout-background: var(--container);
  --callout-color: var(--text);
  --callout-border: var(--callout-radius) solid var(--text);
}

.callout-commend {
  --callout-background: var(--success-container);
  --callout-color: var(--success);
  --callout-border: var(--callout-radius) solid var(--success);
}

.callout-warn {
  --callout-background: var(--warning-container);
  --callout-color: var(--warning);
  --callout-border: var(--callout-radius) solid var(--warning);
}

.callout-deter {
  --callout-background: var(--error-container);
  --callout-color: var(--error);
  --callout-border: var(--callout-radius) solid var(--error);
}

.callout-assert {
  --callout-background: var(--info-container);
  --callout-color: var(--info);
  --callout-border: var(--callout-radius) solid var(--info);
}
