---
import { Icon } from "astro-icon";

import BaseLayout from "@layouts/BaseLayout.astro";

import siteConfig from "@site/config.yml";

let frontmatter = {
  title: siteConfig.site_title,
  description: siteConfig.site_description,
};
---

<BaseLayout frontmatter={frontmatter}>
  <h1>Hello my astronaut friend!</h1>
  <Icon name="openmoji:astronaut" />
</BaseLayout>
